.header-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .header-logo {
        width: 65%;
        height: 7.75rem;
        display: flex;
        cursor: pointer;
    }

    .header-login {
        width: 3.125rem;
        height: 3.125rem;
        cursor: pointer;
        margin: 3.5rem 0 0 10rem;
    }

    .header-login:hover {
        transform: rotate(40deg);
    }

    .header-login:active {
        filter: drop-shadow(0 0 0.9375rem rgba(255, 204, 3, 1.5));
    }
}

