@use "../../styles/variables" as *;

.homePage-container {
    display: flex;
    height: 83%;

    .homePage-leftWrapper {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        margin: 214.5px 0rem 1rem 1rem;

        .homePage-button {
            width: 45%;
            height: 5rem;
            background-image: linear-gradient(to bottom, $SecondaryBlue, lighten($PrimaryBlue, 4%));
            border: solid 0.1875rem $PrimaryYellow;
            font-size: 1.125rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
            color: $PrimaryYellow;
            border-radius: 0.625rem;
            cursor: pointer;
        }

        .homePage-button:hover {
            background-image: linear-gradient(to bottom, $PrimaryBlue, darken($SecondaryBlue, 22.25%));
        }

        .homePage-button:active {
            color: $PrimaryYellow;
            box-shadow: inset 0rem 0rem 0.625rem;
            outline: none;
        }

        .homePage-trainerCard {
            width: 70%;
            height: 18.0469rem;
            margin-top: 1rem;
            cursor: pointer;
        }
    }

    .homePage-rightWrapper {
        border: solid 0.0625rem black;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}