@use "../../styles/variables" as *;
@use '../../styles/mixins' as *;

.homePage-container {
    display: flex;
    flex-direction: column;
    height: 83%;

    @include tablet {
        flex-direction: row;
    }

    .homePage-leftWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 50%;
            margin: 13.4063rem 0rem 1rem 1rem;
        }

        .homePage-button {
            width: 75%;
            height: 5rem;
            background-image: linear-gradient(to bottom, $SecondaryBlue, lighten($PrimaryBlue, 4%));
            border: solid 0.1875rem $PrimaryYellow;
            font-size: 1.125rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
            color: $PrimaryYellow;
            border-radius: 0.625rem;
            cursor: pointer;

            @include tablet {
                width: 100%;
            }

            @include desktop {
                width: 60%;
            }
        }

        .homePage-button:hover {
            background-image: linear-gradient(to bottom, $PrimaryBlue, darken($SecondaryBlue, 22.25%));
        }

        .homePage-button:active {
            color: $PrimaryYellow;
            box-shadow: inset 0rem 0rem 0.625rem;
            outline: none;
        }

        .homePage-trainerCard {
            width: 90%;
            height: 18.0469rem;
            margin-top: 1rem;
            cursor: pointer;

            @include tablet {
                width: 100%;
            }

            @include desktop {
                width: 80%;
            }
        }
    }

    .homePage-rightWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        

        @include tablet {
            width: 50%;
            margin: 13.4063rem 1rem 1rem 1rem;
        }

        .homePage-highscores__container {
            background-image: linear-gradient(to bottom, $PrimaryBlue, lighten($SecondaryBlue, 2%));
            border: solid 0.125rem $PrimaryYellow;
            border-radius: 0.3125rem;
            box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
            width: 90%;
            height: auto;
            margin: 0;
            max-height: 25rem;
            overflow-y: auto;

            @include tablet {
                width: 100%;
            }

            @include desktop {
                width: 60%;
            }

            .homePage-highscores__table__head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: solid 0.125rem $PrimaryYellow;
                padding: 0;

                .homePage-highscores__head__title__rank,
                .homePage-highscores__head__title__name,
                .homePage-highscores__head__title__score {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: $PrimaryYellow;
                    padding: 0.5rem 1rem;
                    text-align: center;
                    border-right: solid 0.125rem $PrimaryYellow;
                    min-width: 4.5rem;

                    @include tablet {
                        min-width: 6.25rem;
                    }
                }

                .homePage-highscores__head__title__score {
                    border-right: none;
                }
            }
        }

        .homePage-highscores__row__container {
            display: flex;
            flex-direction: column;

            .homePage-highscores__row__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 0.125rem $PrimaryYellow;
                padding: 0;
            }

            .homePage-highscores__row__content:last-child {
                border-bottom: none;
            }

            .homePage-highscores__rank,
            .homePage-highscores__name,
            .homePage-highscores__score {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: $PrimaryYellow;
                padding: 0.5rem 1rem;
                text-align: center;
                border-right: solid 0.125rem $PrimaryYellow;
                min-width: 4.5rem;

                    @include tablet {
                        min-width: 6.25rem;
                    }
            }

            .homePage-highscores__score {
                border-right: none;
            }
        }
    }
}